// Colour palette
$primary-colour: #333;
$primary-hover-colour: #555;
$secondary-colour: #eee ;
$accent-colour: #32dd62;

// Glass colours
$primary-colour-glass: #333333bf;
$primary-colour-darker-glass: #333333d9;
$primary-hover-colour-glass: #555555bf;
$border-colour-glass: #dddddd80;

// Font colours
$primary-font-colour: #333;
$primary-nav-font-colour: #fff;