footer{
    // position: absolute;
    // bottom: 0;
    clear: left;

    & .footer-content{
        // position: absolute;
        bottom: 0;
        width: 100vw;
        max-width: 100%;
        background-color: red;
        height: 3.5rem;
    }
}