@import '../Main Styles/colours';

nav{
    float: left;
    width: clamp(3rem, 10%, 30rem);
    height: 100vh;
    text-align: center;
    position: sticky;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $primary-colour;
    top: 0;
    
    & *{
        position: relative;
        width: 100%;
    }

    & ul li{
        padding: 0.625rem;
        font-size: 1rem;
        cursor: pointer;
        list-style-type: none;
        background-color: transparent;
        $transition-time: 500ms;
        transition: background-color $transition-time, 
                    color $transition-time;
        position: relative;
        color: $primary-nav-font-colour;
        
        &:hover{
            background-color: $primary-hover-colour;
            color: $primary-nav-font-hover-colour;
            
            &::after{
                transform: scaleX(1);
            }
        }

        &::after{
            content: '';
            position: absolute;
            width: calc(100% - 1rem);
            transform: scaleX(0);
            height: 0.1rem;
            background-color: $primary-nav-font-hover-colour;
            left: 0.5rem;
            bottom: 0.25rem;
            transition: transform ease-in-out $transition-time;
        }
    }
}