@import '../Main Styles/colours';

#content{
    margin: 1% 5% 1% 15%;

    .section{
        // Border
        border: 0.125rem solid $primary-colour;
        border-radius: 0.3rem;

        // Positioning
        margin-top: 1.6rem;
        position: relative;

        // Sizing
        padding: 1.5rem;
        width: 100%;
        min-height: 3rem;
        
        .section-title{
            // Align title
            display: inline-block;
            text-align: center;
            position: absolute;
           // height: 16px;
            left: 50%;
            top: -0.96rem;
            transform: translate(-50%);

            // Change text background
            padding: 0 3%;
            background: white;
            
            // Change text
            color: $primary-colour;
            font-weight: bold;
            font-size: 1.6rem;
        }

    }
}