@import '../Main Styles/colours';

#content{
    width: 100vw;
    display: block;
    background-image: linear-gradient(150deg, rgb(54, 175, 153), red);
    top: 0;
    min-height: 100vh;
    padding: 1% 5% 1% 15%;

    .section-wrapper {
        $gradient-angle: 135deg;
        // Positioning
        margin-top: 1.6rem;

        // Border
        border-radius: 0.3rem;
        background-image: linear-gradient($gradient-angle, $border-colour-glass, rgba(255, 255, 255,0.3));
        padding: 2px;

        .section{
            // Border
            border-radius: 0.3rem;

            // Sizing
            padding: 0.5rem 1.5rem;
            width: 100%;
            min-height: 3rem;
    
            // Background
            background-image: linear-gradient($gradient-angle, rgba(255, 255, 255, 0.5), transparent);
            
            .section-title{
                // Sizing
                padding: 0 3%;
                
                // Change text
                color: $primary-colour;
                font-weight: bold;
                font-size: 1.6rem;
            }
    
        }
    }
    
}