@import '../Main Styles/colours';

#content{
    width: 100vw;
    display: block;
    top: 0;
    min-height: 100vh;
    padding: 0.1rem 0 2rem 0;
    position: relative;
    z-index: 0;

    .section-wrapper {
        $gradient-angle: 135deg;
        // Positioning
        margin: 1.6rem 5% 0 15%;
        z-index: 2;

        // Border
        border-radius: 0.3rem;
        background-image: linear-gradient($gradient-angle, $border-colour-glass, rgba(255, 255, 255,0.3));
        padding: 2px;


        .section{
            // Border
            border-radius: 0.3rem;

            // Sizing
            padding: 0.5rem 1.5rem;
            width: 100%;
            min-height: 3rem;
    
            // Background
            background-image: linear-gradient($gradient-angle, rgba(255, 255, 255, 0.5), transparent);

            min-height: 50vh;
            
            .section-title{
                // Sizing
                padding: 0 3%;
                
                // Change text
                color: $primary-colour;
                font-weight: bold;
                font-size: 1.6rem;
            }
    
        }
    }
    
}