@import "../Main Styles/colours";
@import "../Main Styles/breakpoints";

div#education-wrapper {
	// Sizing
	width: 100%;

	// Course Wrappers
	& div.course-wrapper {
		// Sizing
		width: 100%;

		// Content Alignment
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		padding-top: 1rem;
		padding-bottom: 0.5rem;

		// Border
		border-top: 0.1rem solid $primary-colour;
		&:first-of-type {
			border-top: none;
		}

		@media screen and (min-width: $tablet-landscape-min-width) {
			// Content Alignment
			flex-direction: row;
		}

		// Image
		& img.course-image {
			// Sizing
			height: 100%;
			flex: 1 1 20%;
		}

		// Description
		& div.info-wrapper {
			// Sizing
			height: 100%;
			max-width: 80%;
			flex: 1 1 80%;

			// Text
			text-align: center;
			padding-left: 1rem;

			// Positioning
			margin: 0 auto;

			@media screen and (min-width: $tablet-landscape-min-width) {
				// Text
				text-align: left;
			}

			& h1 {
				// Font
				font-size: 1.5rem;
				font-weight: bold;
			}

			& h2 {
				// Font
				font-size: 1rem;
			}
		}
	}
}
