@import '../Main Styles/colours';

div#project-wrapper{
    // Sizing
    width: 100%;
    height: 100%;

    & div#layout-selector{
        // Positioning
        position: absolute;
        top: 1rem;
        right: 0.5rem;

        & label{
            // Content Alignment
            display: flex;
            justify-content: space-between;

            // Cursor
            cursor: pointer;
            
            // Checkbox
            & input[type=checkbox]{
                // Appearance
                display: none;
            }

            // Toggle
            & div.toggle{
                $toggle-height: 2;
                $toggle-margin: 0.2;
                $translate-x: $toggle-height - $toggle-margin * 2 - ($toggle-height / 2 - $toggle-margin * 2);
                // Sizing
                width: #{$toggle-height}rem;
                height: #{$toggle-height / 2}rem;

                // Border
                border: #{$toggle-margin}rem solid $primary-font-colour;
                border-radius: 1rem;

                // Appearance
                overflow: hidden;

                // Positioning
                position: relative;

                // Indicator
                & div.toggle-indicator{
                    // Sizing
                    width: #{$toggle-height - $toggle-margin * 2}rem;
                    height: #{$toggle-height / 2 - $toggle-margin * 2}rem;
                   
                    // Border
                    border-radius: #{($toggle-height / 2 - $toggle-margin * 2) / 2}rem;

                    // Appearance
                    background: $primary-nav-font-colour;

                    // Positioning
                    position: absolute;
                    top: 0;
                    transform: translateX(-#{$translate-x}rem);

                    // Animation
                    transition: transform 250ms linear;
                }
                
                // Move indicator when the check box is toggled
                .toggle-state:checked ~ .toggle-indicator {
                    transform: translateX(#{$translate-x}rem);
                  }
            }

            // Layout description text
            & div.label-text{
                // Sizing
                width: 6rem;

                // Font
                line-height: 1;
                font-weight: 500;
                color: $primary-font-colour;
            }
        }
    }
}