@import "../Main Styles/colours";
@import "../Main Styles/breakpoints";

div#project-wrapper {
	$transition-duration: 500ms;
	// Sizing
	width: 100%;
	height: 100%;

	// Positioning
	position: relative;

	// Layout Selector
	& div#layout-selector {
		// Positioning
		position: absolute;
		top: -1.2rem;
		right: 0.5rem;
		z-index: 1;

		& label {
			// Content Alignment
			display: flex;
			justify-content: space-between;

			// Cursor
			cursor: pointer;

			// Checkbox
			& input[type="checkbox"] {
				// Appearance
				display: none;
			}

			// Toggle
			& div.toggle {
				$toggle-width: 2; // In rems
				$toggle-margin: 0.1; // In rems
				$indicator-width: $toggle-width / 2 - $toggle-margin * 2;
				$translate-x: $toggle-width - ($toggle-margin * 2 + $indicator-width);
				// Sizing
				width: #{$toggle-width}rem;
				height: #{$toggle-width / 2}rem;

				// Border
				border: #{$toggle-margin}rem solid $primary-font-colour;
				border-radius: 1rem;

				// Appearance
				overflow: hidden;

				// Positioning
				position: relative;

				// Indicator
				& div.toggle-indicator {
					// Sizing
					width: #{$indicator-width}rem;
					height: #{$indicator-width}rem;

					// Border
					border-radius: 50%;

					// Appearance
					background: $primary-font-colour;

					// Positioning
					position: absolute;
					top: 0;
					transform: translate(0, 0);

					// Animation
					transition: transform $transition-duration linear;
				}

				// Move indicator when the check box is toggled
				.toggle-state:checked ~ .toggle-indicator {
					// Positioning
					transform: translate(#{$translate-x}rem, 0);
				}
			}

			// Layout description text
			& div.label-text {
				// Sizing
				width: 6rem;

				// Font
				line-height: 1;
				font-weight: 500;
				color: $primary-font-colour;
			}
		}
	}

	// Hide container
	& div.hide {
		// Appearance
		opacity: 0 !important;
		visibility: hidden !important;

		// Positioning
		position: absolute;
		top: 0;
		z-index: 2;
	}

	// Slide show
	& div#slideshow-wrapper {
		// Sizing
		width: 100%;
		height: 100%;
		min-height: 15rem;

		// Appearance
		opacity: 1;
		visibility: visible;

		// Background
		background-size: contain;
		background-repeat: no-repeat;

		// Animation
		transition: opacity $transition-duration ease-in-out,
			visibility $transition-duration ease-in-out, background 500ms ease-in-out;

		// Image
		& > img {
			vertical-align: top;
			width: 100%; /* max width */
			opacity: 0; /* make it transparent */
		}

		// Controller
		& div#slideshow-controller {
			// Sizing
			width: 30%;

			// Positioning
			position: absolute;
			bottom: 2rem;
			right: 2rem;

			// Text appearance
			text-align: left;
			padding: 0.3rem;

			// Light theme for overlay
			&.light {
				// Font
				color: $secondary-colour;

				// Button
				& div#slideshow-description-wrapper a#slideshow-link {
					border: 0.2rem solid $secondary-colour;

					&:hover {
						// Appearance
						background: $secondary-colour;
						color: $primary-colour;
						mix-blend-mode: screen;
					}
				}

				// Arrow controls
				& div.slideshow-arrow {
					border-color: $secondary-colour;
				}

				// Jumpers
				& div.slideshow-jumper {
					border: 0.2rem solid $secondary-colour;
					background: transparent;

					// On current slide
					&.slide-active {
						background: $secondary-colour;
					}
				}
			}

			// Dark theme for overlay
			&.dark {
				// Font
				color: $primary-font-colour;

				// Button
				& div#slideshow-description-wrapper a#slideshow-link {
					border: 0.2rem solid $primary-font-colour;

					&:hover {
						background: $primary-colour;
						color: $secondary-colour;
						mix-blend-mode: multiply;
					}
				}

				// Controls
				& div.slideshow-arrow {
					border-color: $primary-colour;
				}

				// Jumpers
				& div.slideshow-jumper {
					border: 0.2rem solid $primary-colour;
					background: transparent;

					// On current slide
					&.slide-active {
						background: $primary-colour;
					}
				}
			}

			// Description container
			& div#slideshow-description-wrapper {
				// Font
				color: inherit;

				// Project title
				& div#slideshow-title {
					// Appearance
					font-size: 3rem;
					font-weight: bold;
					color: inherit;
				}

				// Project description
				& div#slideshow-description {
					// Appearance
					color: inherit;
				}

				// Project link
				& a#slideshow-link {
					// Text
					text-decoration: none;
					text-transform: uppercase;
					font-weight: 500;
					color: inherit;

					// Sizing
					padding: 0.5rem;

					// Positioning
					display: inline-block;
					margin-top: 0.75rem;
				}
			}

			// Slide show jumper wrapper
			& div#slideshow-jumper-wrapper {
				// Sizing
				width: 50%;
				height: 2rem;

				// Positioning
				position: absolute;
				bottom: -2rem;
				left: 50%;
				transform: translate(-50%, 0);

				// Item alignment
				display: flex;
				justify-content: center;

				// Slide show jumper
				& div.slideshow-jumper {
					// Sizing:
					height: 1rem;
					width: 1rem;

					// Appearance
					display: block;
					border-radius: 50%;

					// Positioning
					margin: 0.25rem;

					// Cursor
					cursor: pointer;
				}
			}

			// Slide show arrows
			& div.slideshow-arrow {
				// Sizing
				height: 2rem;
				width: 2rem;

				// Appearance
				border: 0.3rem solid;
				border-top: 0;
				border-left: 0;

				// Positioning
				position: absolute;

				// Cursor
				cursor: pointer;
			}

			// Back arrow
			& div.slideshow-arrow.back {
				// Positioning
				left: -2rem;
				top: 50%;
				transform: translateY(-50%) rotate(135deg);
			}

			// Forward arrow
			& div.slideshow-arrow.forward {
				// Positioning
				right: -1rem;
				top: 50%;
				transform: translateY(-50%) rotate(-45deg);
			}
		}
	}

	// Grid
	& div#grid-wrapper {
		// Sizing
		width: 100%;
		height: 100%;
		min-height: 100px;

		// Appearance
		opacity: 1;
		visibility: visible;
		background: blue;

		// Animation
		transition: opacity $transition-duration ease-in-out,
			visibility $transition-duration ease-in-out;
	}
}
