div#project-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

div#project-wrapper div#layout-selector {
  position: absolute;
  top: -1.2rem;
  right: 0.5rem;
  z-index: 1;
}

div#project-wrapper div#layout-selector label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
}

div#project-wrapper div#layout-selector label input[type="checkbox"] {
  display: none;
}

div#project-wrapper div#layout-selector label div.toggle {
  width: 2rem;
  height: 1rem;
  border: 0.1rem solid #333;
  border-radius: 1rem;
  overflow: hidden;
  position: relative;
}

div#project-wrapper div#layout-selector label div.toggle div.toggle-indicator {
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  background: #333;
  position: absolute;
  top: 0;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-transition: -webkit-transform 500ms linear;
  transition: -webkit-transform 500ms linear;
  transition: transform 500ms linear;
  transition: transform 500ms linear, -webkit-transform 500ms linear;
}

div#project-wrapper div#layout-selector label div.toggle .toggle-state:checked ~ .toggle-indicator {
  -webkit-transform: translate(1rem, 0);
          transform: translate(1rem, 0);
}

div#project-wrapper div#layout-selector label div.label-text {
  width: 6rem;
  line-height: 1;
  font-weight: 500;
  color: #333;
}

div#project-wrapper div.hide {
  opacity: 0 !important;
  visibility: hidden !important;
  position: absolute;
  top: 0;
  z-index: 2;
}

div#project-wrapper div#slideshow-wrapper {
  width: 100%;
  height: 100%;
  min-height: 15rem;
  opacity: 1;
  visibility: visible;
  background-size: contain;
  background-repeat: no-repeat;
  -webkit-transition: opacity 500ms ease-in-out, visibility 500ms ease-in-out, background 500ms ease-in-out;
  transition: opacity 500ms ease-in-out, visibility 500ms ease-in-out, background 500ms ease-in-out;
}

div#project-wrapper div#slideshow-wrapper > img {
  vertical-align: top;
  width: 100%;
  /* max width */
  opacity: 0;
  /* make it transparent */
}

div#project-wrapper div#slideshow-wrapper div#slideshow-controller {
  width: 30%;
  position: absolute;
  bottom: 2rem;
  right: 3rem;
  text-align: left;
  padding: 0.3rem;
  color: #eee;
  mix-blend-mode: difference;
}

div#project-wrapper div#slideshow-wrapper div#slideshow-controller div#slideshow-description-wrapper {
  color: inherit;
}

div#project-wrapper div#slideshow-wrapper div#slideshow-controller div#slideshow-description-wrapper div#slideshow-title {
  font-size: 3rem;
  font-weight: bold;
  color: inherit;
}

div#project-wrapper div#slideshow-wrapper div#slideshow-controller div#slideshow-description-wrapper div#slideshow-description {
  color: inherit;
}

div#project-wrapper div#slideshow-wrapper div#slideshow-controller div#slideshow-description-wrapper a#slideshow-link {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  color: inherit;
  border: 0.2rem solid white;
  background: transparent;
  padding: 0.5rem;
  display: inline-block;
  margin-top: 0.75rem;
}

div#project-wrapper div#slideshow-wrapper div#slideshow-controller div#slideshow-description-wrapper a#slideshow-link:hover {
  color: black;
  background: white;
}

div#project-wrapper div#slideshow-wrapper div#slideshow-controller div#slideshow-jumper-wrapper {
  width: 50%;
  height: 2rem;
  position: absolute;
  bottom: -2rem;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

div#project-wrapper div#slideshow-wrapper div#slideshow-controller div#slideshow-jumper-wrapper div.slideshow-jumper {
  height: 1rem;
  width: 1rem;
  display: block;
  border-radius: 50%;
  border: 0.2rem solid white;
  background: transparent;
  margin: 0.25rem;
  cursor: pointer;
}

div#project-wrapper div#slideshow-wrapper div#slideshow-controller div#slideshow-jumper-wrapper div.slideshow-jumper.slide-active {
  background: white;
}

div#project-wrapper div#slideshow-wrapper div#slideshow-controller div.slideshow-arrow {
  height: 2rem;
  width: 2rem;
  border: 0.3rem solid white;
  border-top: 0;
  border-left: 0;
  mix-blend-mode: difference;
  position: absolute;
  cursor: pointer;
}

div#project-wrapper div#slideshow-wrapper div#slideshow-controller div.slideshow-arrow.back {
  left: -2rem;
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(135deg);
          transform: translateY(-50%) rotate(135deg);
}

div#project-wrapper div#slideshow-wrapper div#slideshow-controller div.slideshow-arrow.forward {
  right: -2rem;
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(-45deg);
          transform: translateY(-50%) rotate(-45deg);
}

div#project-wrapper div#grid-wrapper {
  width: 100%;
  height: 100%;
  min-height: 100px;
  opacity: 1;
  visibility: visible;
  background: blue;
  -webkit-transition: opacity 500ms ease-in-out, visibility 500ms ease-in-out;
  transition: opacity 500ms ease-in-out, visibility 500ms ease-in-out;
}
/*# sourceMappingURL=projects.css.map */