#landing-page {
  height: 100vh;
  width: 100vw;
  background: black;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-line-pack: center;
      align-content: center;
  color: #bbb;
}

#landing-page div#title {
  width: 100vw;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

#landing-page div#title div.title-wrapper {
  position: relative;
}

#landing-page div#title div.title-wrapper h1 {
  font-size: 5rem;
}

#landing-page div#title div.title-wrapper h2 {
  font-size: 2.5rem;
}

#landing-page div#title div.title-wrapper *:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 1px white;
}

#landing-page div#title div.title-wrapper:nth-child(1) *:nth-child(2) {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  height: 6rem;
  color: #32dd62;
  -webkit-animation: text-highlight1 3s ease-in-out infinite;
          animation: text-highlight1 3s ease-in-out infinite;
}

@-webkit-keyframes text-highlight1 {
  0% {
    -webkit-clip-path: polygon(10% 0%, 20% 0%, 10% 100%, 0% 100%);
            clip-path: polygon(10% 0%, 20% 0%, 10% 100%, 0% 100%);
  }
  100% {
    -webkit-clip-path: polygon(100% 0%, 110% 0%, 100% 100%, 90% 100%);
            clip-path: polygon(100% 0%, 110% 0%, 100% 100%, 90% 100%);
  }
}

@keyframes text-highlight1 {
  0% {
    -webkit-clip-path: polygon(10% 0%, 20% 0%, 10% 100%, 0% 100%);
            clip-path: polygon(10% 0%, 20% 0%, 10% 100%, 0% 100%);
  }
  100% {
    -webkit-clip-path: polygon(100% 0%, 110% 0%, 100% 100%, 90% 100%);
            clip-path: polygon(100% 0%, 110% 0%, 100% 100%, 90% 100%);
  }
}

#landing-page div#title div.title-wrapper:nth-child(2) *:nth-child(2) {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
  height: 6rem;
  color: #32dd62;
  -webkit-animation: text-highlight2 3s ease-in-out infinite;
          animation: text-highlight2 3s ease-in-out infinite;
}

@-webkit-keyframes text-highlight2 {
  0% {
    -webkit-clip-path: polygon(0% 0%, 10% 0%, 0% 100%, -10% 100%);
            clip-path: polygon(0% 0%, 10% 0%, 0% 100%, -10% 100%);
  }
  100% {
    -webkit-clip-path: polygon(90% 0%, 100% 0%, 90% 100%, 80% 100%);
            clip-path: polygon(90% 0%, 100% 0%, 90% 100%, 80% 100%);
  }
}

@keyframes text-highlight2 {
  0% {
    -webkit-clip-path: polygon(0% 0%, 10% 0%, 0% 100%, -10% 100%);
            clip-path: polygon(0% 0%, 10% 0%, 0% 100%, -10% 100%);
  }
  100% {
    -webkit-clip-path: polygon(90% 0%, 100% 0%, 90% 100%, 80% 100%);
            clip-path: polygon(90% 0%, 100% 0%, 90% 100%, 80% 100%);
  }
}

#landing-page div#scroll-btn {
  position: relative;
  margin: 0 auto;
  bottom: 1rem;
  width: 100vw;
  height: 2rem;
  display: block;
}

#landing-page div#scroll-btn a {
  height: 2rem;
  width: 2rem;
  display: block;
  position: relative;
  margin: 0 auto;
}

#landing-page div#scroll-btn a div.arrow {
  position: absolute;
  z-index: 1;
  display: inline-block;
  width: 100%;
  height: 100%;
}

#landing-page div#scroll-btn a div.down {
  left: 50vw;
}

#landing-page div#scroll-btn a div.down:nth-child(1) {
  -webkit-animation: bobbingArrow1 3s linear infinite;
          animation: bobbingArrow1 3s linear infinite;
}

@-webkit-keyframes bobbingArrow1 {
  0%, 100% {
    -webkit-transform: translate(-50vw, -1.5rem) rotate(45deg);
            transform: translate(-50vw, -1.5rem) rotate(45deg);
    border: solid white;
    border-width: 0 0.5rem 0.5rem 0;
  }
  50% {
    border: solid rgba(255, 255, 255, 0.1);
    border-width: 0 0.5rem 0.5rem 0;
    -webkit-transform: translate(-50vw, -1rem) rotate(45deg);
            transform: translate(-50vw, -1rem) rotate(45deg);
  }
  30% {
    border: solid rgba(255, 255, 255, 0.2);
    border-width: 0 0.5rem 0.5rem 0;
  }
  70% {
    border: solid rgba(255, 255, 255, 0.2);
    border-width: 0 0.5rem 0.5rem 0;
  }
}

@keyframes bobbingArrow1 {
  0%, 100% {
    -webkit-transform: translate(-50vw, -1.5rem) rotate(45deg);
            transform: translate(-50vw, -1.5rem) rotate(45deg);
    border: solid white;
    border-width: 0 0.5rem 0.5rem 0;
  }
  50% {
    border: solid rgba(255, 255, 255, 0.1);
    border-width: 0 0.5rem 0.5rem 0;
    -webkit-transform: translate(-50vw, -1rem) rotate(45deg);
            transform: translate(-50vw, -1rem) rotate(45deg);
  }
  30% {
    border: solid rgba(255, 255, 255, 0.2);
    border-width: 0 0.5rem 0.5rem 0;
  }
  70% {
    border: solid rgba(255, 255, 255, 0.2);
    border-width: 0 0.5rem 0.5rem 0;
  }
}

#landing-page div#scroll-btn a div.down:nth-child(2) {
  -webkit-animation: bobbingArrow2 3s linear infinite;
          animation: bobbingArrow2 3s linear infinite;
}

@-webkit-keyframes bobbingArrow2 {
  0%, 100% {
    -webkit-transform: translate(-50vw, -2.5rem) rotate(45deg);
            transform: translate(-50vw, -2.5rem) rotate(45deg);
    border: solid white;
    border-width: 0 0.5rem 0.5rem 0;
  }
  50% {
    border: solid rgba(255, 255, 255, 0.1);
    border-width: 0 0.5rem 0.5rem 0;
    -webkit-transform: translate(-50vw, -2rem) rotate(45deg);
            transform: translate(-50vw, -2rem) rotate(45deg);
  }
  40% {
    border: solid rgba(255, 255, 255, 0.2);
    border-width: 0 0.5rem 0.5rem 0;
  }
  60% {
    border: solid rgba(255, 255, 255, 0.2);
    border-width: 0 0.5rem 0.5rem 0;
  }
}

@keyframes bobbingArrow2 {
  0%, 100% {
    -webkit-transform: translate(-50vw, -2.5rem) rotate(45deg);
            transform: translate(-50vw, -2.5rem) rotate(45deg);
    border: solid white;
    border-width: 0 0.5rem 0.5rem 0;
  }
  50% {
    border: solid rgba(255, 255, 255, 0.1);
    border-width: 0 0.5rem 0.5rem 0;
    -webkit-transform: translate(-50vw, -2rem) rotate(45deg);
            transform: translate(-50vw, -2rem) rotate(45deg);
  }
  40% {
    border: solid rgba(255, 255, 255, 0.2);
    border-width: 0 0.5rem 0.5rem 0;
  }
  60% {
    border: solid rgba(255, 255, 255, 0.2);
    border-width: 0 0.5rem 0.5rem 0;
  }
}
/*# sourceMappingURL=landing.css.map */