@import '../Main Styles/colours';
@import '../Main Styles/breakpoints';

#landing-page{
    $green: rgb(50, 221, 98);
    // Sizing
    height: 100vh;
    width: 100vw;

    // Appearance
    background: black; // Change this later

    // Positioning
    z-index: 1;

    // Content Alignment
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;

    // Font
    color: #bbb;

    // Title
    & div#title{
        // Sizing
        width: 100vw;

        // Flexbox
        flex-grow: 2;

        // Content Alignment
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;

        & h1, & h2{
            & div{
                background-image: linear-gradient(to left, #AAA 20%, $green 40%, $green 60%, #AAA 80%);
                background-size: 200% auto;
                background-clip: text;
                -webkit-text-fill-color: transparent;

                animation: shine 5s linear infinite;
                @keyframes shine {
                    from {
                      background-position: 200% center;
                    }
                }
            }
        }
    }

    // Scroll button
    & div#scroll-btn{
        // Positioning
        position: relative;
        margin: 0 auto;
        bottom: 1rem;

        // Sizing
        width: 100vw;
        height: 2rem;
        display: block;

        & a{
            // Sizing
            height: 2rem;
            width: 2rem;
            display: block;
            
            // Positioning
            position: relative;
            margin: 0 auto;

            & div.arrow{
                // Positioning
                position: absolute;
                z-index: 1;

                // Sizing
                display: inline-block;
                width: 100%;
                height: 100%;
            }

            & div.down{
                left: 50vw;
            }

            @for $n from 1 through 2{
                & div.down:nth-child(#{$n}){
                    
                    animation: bobbingArrow#{$n} 3s linear infinite;
                
                    $offset: -0.5 - 1 * $n;
                    // Synchronised bobbing
                    @keyframes bobbingArrow#{$n} {
                        0%, 100% {
                            transform: translate(-50vw, #{$offset}rem) rotate(45deg);
                            border: solid white;
                            border-width: 0 0.5rem 0.5rem 0;
                        }
                        50% {
                            border: solid rgba(255, 255, 255, 0.1);
                            border-width: 0 0.5rem 0.5rem 0;
                            transform: translate(-50vw, #{$offset + 0.5}rem) rotate(45deg);
                        }
                        #{50 -  2 / $n * 10 + '%'} {
                            border: solid rgba(255, 255, 255, 0.2);
                            border-width: 0 0.5rem 0.5rem 0;
                        }
                        #{50 + 2 / $n * 10 + '%'} {
                            border: solid rgba(255, 255, 255, 0.2);
                            border-width: 0 0.5rem 0.5rem 0;
                        }
                    }
                }
            }
        }

    }
}