#landing-page {
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  background: black;
  position: absolute;
  top: 0;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-line-pack: center;
      align-content: center;
  color: #bbb;
}

#landing-page div#title {
  width: 100%;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

#landing-page div#title div.title-wrapper {
  width: clamp(0, 20rem, 100%);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#landing-page div#title div.title-wrapper h1 {
  font-size: 5rem;
  line-height: 1;
}

#landing-page div#title div.title-wrapper h2 {
  font-size: 1.5rem;
}

#landing-page div#title div.title-wrapper * {
  color: rgba(85, 85, 85, 0.75);
}

#landing-page div#title div.title-wrapper:nth-child(2) {
  -webkit-animation: text-highlights 5s ease-in-out infinite;
          animation: text-highlights 5s ease-in-out infinite;
}

#landing-page div#title div.title-wrapper:nth-child(2) * {
  color: #32dd62;
}

@-webkit-keyframes text-highlights {
  0% {
    -webkit-clip-path: polygon(-15% 0%, 0% 0%, -7.5% 100%, -22.5% 100%);
            clip-path: polygon(-15% 0%, 0% 0%, -7.5% 100%, -22.5% 100%);
  }
  50% {
    -webkit-clip-path: polygon(107.5% 0%, 122.5% 0%, 115% 100%, 100% 100%);
            clip-path: polygon(107.5% 0%, 122.5% 0%, 115% 100%, 100% 100%);
  }
  51% {
    -webkit-clip-path: polygon(100% 0%, 115% 0%, 122.5% 100%, 107.5% 100%);
            clip-path: polygon(100% 0%, 115% 0%, 122.5% 100%, 107.5% 100%);
  }
  100% {
    -webkit-clip-path: polygon(-22.5% 0%, -7.5% 0%, 0% 100%, -15% 100%);
            clip-path: polygon(-22.5% 0%, -7.5% 0%, 0% 100%, -15% 100%);
  }
}

@keyframes text-highlights {
  0% {
    -webkit-clip-path: polygon(-15% 0%, 0% 0%, -7.5% 100%, -22.5% 100%);
            clip-path: polygon(-15% 0%, 0% 0%, -7.5% 100%, -22.5% 100%);
  }
  50% {
    -webkit-clip-path: polygon(107.5% 0%, 122.5% 0%, 115% 100%, 100% 100%);
            clip-path: polygon(107.5% 0%, 122.5% 0%, 115% 100%, 100% 100%);
  }
  51% {
    -webkit-clip-path: polygon(100% 0%, 115% 0%, 122.5% 100%, 107.5% 100%);
            clip-path: polygon(100% 0%, 115% 0%, 122.5% 100%, 107.5% 100%);
  }
  100% {
    -webkit-clip-path: polygon(-22.5% 0%, -7.5% 0%, 0% 100%, -15% 100%);
            clip-path: polygon(-22.5% 0%, -7.5% 0%, 0% 100%, -15% 100%);
  }
}

#landing-page div#scroll-btn {
  position: relative;
  margin: 0 auto;
  bottom: 2rem;
  width: 100%;
  height: 2rem;
}

#landing-page div#scroll-btn a {
  height: 2rem;
  width: 2rem;
  display: block;
  position: relative;
  margin: 0 auto;
}

#landing-page div#scroll-btn a div.arrow.down {
  position: absolute;
  z-index: 1;
  content: "";
  width: 100%;
  height: 100%;
  border: solid rgba(85, 85, 85, 0.75);
  border-width: 0 0.5rem 0.5rem 0 !important;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#landing-page div#scroll-btn a div.arrow.down:nth-child(n + 3) {
  top: -1rem;
}

#landing-page div#scroll-btn a div.arrow.down:nth-child(2n) {
  border: solid #32dd62;
  -webkit-animation: flashing 3s ease-in-out infinite;
          animation: flashing 3s ease-in-out infinite;
}

@-webkit-keyframes flashing {
  0%, 100% {
    -webkit-clip-path: polygon(-75% 25%, 75% 175%, 25% 225%, -125% 75%);
            clip-path: polygon(-75% 25%, 75% 175%, 25% 225%, -125% 75%);
  }
  50% {
    -webkit-clip-path: polygon(75% -125%, 225% 25%, 175% 75%, 25% -75%);
            clip-path: polygon(75% -125%, 225% 25%, 175% 75%, 25% -75%);
  }
}

@keyframes flashing {
  0%, 100% {
    -webkit-clip-path: polygon(-75% 25%, 75% 175%, 25% 225%, -125% 75%);
            clip-path: polygon(-75% 25%, 75% 175%, 25% 225%, -125% 75%);
  }
  50% {
    -webkit-clip-path: polygon(75% -125%, 225% 25%, 175% 75%, 25% -75%);
            clip-path: polygon(75% -125%, 225% 25%, 175% 75%, 25% -75%);
  }
}
/*# sourceMappingURL=landing.css.map */